<html>
  {% with messages= get_flashed_messages()%} {% if messages %}
  <script>
    alert("{{messages[-1]}}");
  </script>
  {% endif %} {% endwith %}

  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='login.css') }}"
    />
  </head>
  <body>
    <table class="login_form">
      <form name="form" action="/join" method="POST">
        <thead>
          <caption>
            Join Our SITE!
          </caption>
        </thead>

        <tbody class="login_form">
          <tr>
            <td>NAME</td>
            <td><input type="text" name="name" /></td>
          </tr>
          <tr>
            <td>EMAIL</td>
            <td><input type="text" name="email" /></td>
          </tr>
          <tr>
            <td>PW</td>
            <td><input type="password" name="pw" /></td>
          </tr>
          <tr>
            <td colspan="2"><input type="submit" value="join" /></td>
          </tr>
        </tbody>
      </form>
    </table>
  </body>
</html>
